body {
	margin: 0;
	color: $font-color;
	font-family: $font-style;
	font-size: 1.1em;
	line-height: 1.6;
	background-color:#fbfbfc;
	
	-webkit-font-smoothing: antialiased;
}
h1,
h2,
h3 {
	font-weight: 600;
	color: $heading-font-color;
	font-family: $heading-font;
	line-height: 1.5;
}
h1 {
	color: $main;
	font-size: 2.5em;
	a,
	a:visited {
		text-decoration: none;
		color: $main;
	}
}
h2 {
	font-size: 2em;
}
a,
a:visited {
	color: #5b608a;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: #E98639;
	text-decoration: underline;
}
header {
	background: $header;
	padding: 0px 15px;
	text-align: center;
	margin: 50px 0 0;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
main {
	padding: 0 15px;
	max-width: $content-width;
	margin: 0 auto;
}
time {
	color: #898989;
}
.container {
	width: 60%;
	margin: 0 auto;
	background-color:#ffffff;
	
}


/* Aside */

aside {
/*	position: fixed;
	top: 0;
	left: 0;*/
	background: #fff;
	width: 100%;
	z-index: 2;
	border-bottom: 1px solid lighten($light, 30%);
	box-shadow: 0px 1px 1px RGBA(4, 25, 54, .1);
	nav {
		float: left;
		max-width: 800px;
		margin: 0 auto;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				float: left;
				position: relative;
				a {
					text-decoration: none;
					display: block;
					padding: 15px;
					font-family: 'Muli', sans-serif;
					line-height: 20px;
					margin-bottom: -1px;
					box-shadow: 0;
					&:hover,
					&:active {
						background: $header;
						text-decoration: none;
						color: $main;
					}
				}
			}
		}
		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}
}
footer {
	text-align: center;
	padding: 40px;
}


 /*Code for the banner*/
.banner {
	max-width: $content-width;
	margin: 0 auto;
	background-image:url('/assets/enterBanner.png');
}

/*Code for the tag-cloud*/
.tag-cloud{
  display: flex;
  list-style-type: none;
  justify-content:space-between;
  flex-wrap:wrap;
}
.tag-cloud li {
	margin-bottom:20px;
	width: 300px;
	height:100px;
	text-align:center;
	line-height:100px;
	
	
}
.tag-cloud>li a{
  text-decoration: none;
  padding: 10px;
  font-size:24px;
}
li a.cloud{
	color:white;
	text-align:center;
}
.cloud-color1 {background-color:#53536C;}
.cloud-color2 {background-color:#4B4F72;}
.cloud-color3 {background-color:#7A8699;}
.cloud-color4 {background-color:#787D9B;}
.cloud-color5 {background-color:#884280;}
.cloud-color6 {background-color:#53536C;}
.cloud-color7 {background-color:#53536C;}
.cloud-color8 {background-color:#4B4F72;}
.cloud-color9 {background-color:#7A8699;}
.cloud-color10 {background-color:#787D9B;}
.cloud-color11 {background-color:#884280;}
.cloud-color12 {background-color:#53536C;}
.cloud-color13 {background-color:#53536C;}
.cloud-color14 {background-color:#4B4F72;}
.cloud-color15 {background-color:#7A8699;}
.cloud-color16 {background-color:#787D9B;}
.cloud-color17 {background-color:#884280;}
/*Code for the front-page*/
.button-wrapper {
	display:flex;
	justify-content: space-around;
	margin-top: 50px;
}
.button1 {
	flex: 0 0 40%;
	height: 200px;
	background-color:#5B608A;
	text-align:center;
	
}
.button2 {
	flex: 0 0 40%;
	height: 200px;
	background-color:#ED8042;
	text-align:center;
	
}
	.welcome{
	  margin-top: 20px;
	  margin-bottom: 10px;
	  font-size:24px;
	  font-family:Verdana;
	}
	footer{
	  margin: 0;
	}
	img{
	  margin: 0;
	  width: 100%;
	  height: auto;
	}
	.container{
	  padding:0;
	  
	}
	footer{
	  padding:0;
	  width: 100%;
	  margin-top:50px;
	}
	.choice{
	  text-align:center;
	  line-height: 200px;
	  font-size: 24px;
	  color:white;
	}
	h2#tagpage{
		margin-top: 100px;
		margin-bottom: 30px;
		font-family:Verdana;
		font-size:24px;
	
	}
	.return {
		color:blue;
	}
	a span{
		text-decoration:none;
	}
	p {
		font-family:verdana;
	}